
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/">Add User</a></li>
            <li class="main-header__item"><a href="/users">User List</a></li>
        </ul>
    </nav>
</header>